*{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  // Adding to prevent blue highlighting on Tap in Mobile devices
    
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  -ms-tap-highlight-color: rgba(0,0,0,0);
  -o-tap-highlight-color: rgba(0,0,0,0);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

body {
  width: 100%;
  font-family: $font_family !important;
  font-weight: $font_regular;
  font-size: $body_font;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include mq('phone'){
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6{
  font-weight: $font_semibold;
}


a{
  outline: none;
  @include transition(all 200ms linear);
  text-decoration: none;
  color: $black;
}


p{
  font-weight: $font_regular;
  font-family: $font_family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 2px;
  font-size: $body_font;
  line-height: 20px;
  letter-spacing: -0.1px;
  @include mq('phone'){
    font-size: 16px;
    line-height: 24px;
  }
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
span{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
  max-width:100%;
  display: block;
}
hr{
  clear: both;
  content: "";
  margin: 15px 0px;
}

.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.v_hide{
  visibility:hidden !important;
}
.hide{
  display:none !important;
}

.sm-hide{
  @media(max-width:1024px){
    display:none !important ;
  }
}
.sm-show{
  @media(min-width:1025px){
    display:none !important;
  }
}
.xs-hide{
  @media(max-width:767px){
    display:none !important;
  }
}
.xs-show{
  @media(min-width:768px){
    display:none !important;
  }
}

.xs-center{
  @media(max-width:767px){
    text-align:center !important; 
  }
}
.xs-left{
  @media(max-width:767px){
    text-align:left !important;
  }
}
.xs-right{
  @media(max-width:767px){
    text-align:right !important;
  }
}
.sm-center{
  @media(max-width:1024px){
    text-align:center !important;
  }
}
.sm-left{
  @media(max-width:1024px){
    text-align:left !important;
  }
}
.sm-right{
  @media(max-width:1024px){
    text-align:right !important;
  }
}


//  SITE COMMON CLASSES ADDED BELOW. USE THEM FOR COMMON ELEMENTS

.color_light{
    color: $white;
}
.color_dark{
    color: $black;
}

.section_title{
    font-weight: $font_semibold;
    font-size: 24px;
    padding-left: 73px;
    position: relative;
    @include mq( 'phone' ) {
      font-size: 20px;
      padding-left: 33px;
    }

    &:before{
        content: '';
        position: absolute;
        left: 2px;
        top: 56%;
        @include transform(translateY(-50%));
        width: 54px;
        height: 4px;
        background-color: green;
        @include mq( 'phone' ) {
          width: 24px;
          height: 3px;
        }
    }
}

.section_title_center{
    font-weight: $font_semibold;
    display: inline-block;
    font-size: 24px;
    position: relative;
    @include mq( 'phone' ) {
      font-size: 20px;
    }
    &:before{
        content: '';
        position: absolute;
        left: -72px;
        top: 56%;
        @include transform(translateY(-50%));
        width: 54px;
        height: 4px;
        background-color: green;

        @include mq( 'phone' ) {
          height: 3px;
          width: 35px;
          left: -50px;
        }
    }
    &:after{
        content: '';
        position: absolute;
        right: -72px;
        top: 56%;
        @include transform(translateY(-50%));
        width: 54px;
        height: 4px;
        background-color: green;

        @include mq( 'phone' ) {
          height: 3px;
          width: 35px;
          right: -50px;
        }
    }
}

.btn_bordered_dark{
    border: 2px solid $black;
    padding: 14px;
    font-weight: $font_semibold;
    font-size:$body_font;
    cursor:pointer;
    color:$black;
    display: inline-block;
    @include transition(0.5s ease);
    @include mq( 'phone' ) {
      font-size: $small_font;
    }
}

.btn_bordered_dark:hover{
  color:$white;
  background-color:$black;
  border: 2px solid $black;
}


.btn_bordered_light{
    border: 2px solid $white;
    padding: 14px;
    color:$white;
    font-weight: $font_semibold;
    font-size:$body_font;
    cursor:pointer;
    display: inline-block;
    @include transition(0.5s ease);
}

.responsive-section_title{
  font-weight: $font_semibold;
  font-size: $body_font;
  padding-left: 33px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    @include transform(translateY(-50%));
    width: 28px;
    height: 3px;
    background-color: green;
  }
}

//This CSS is applied here to give position static to default grid classes in order for sub menu to work properly
.home-page-main-wrapper , .about-main-wrapper , .contact-main-wrapper, .approach-main-wrapper, .project-main-wrapper, .team-main-wrapper, .service-main-wrapper, .case-study-main-wrapper , #all_news_page , #single_blog_page, #case_study_page,.not-found-wrapper {
  overflow: hidden;
  .desk_header{
      .flex_view{
          .col-sm-10{
              position: static !important;
          }
      }
  }
}

.about-main-wrapper .desk_header ,.contact-main-wrapper .desk_header, .approach-main-wrapper .desk_header,.project-main-wrapper .desk_header ,.team-main-wrapper .desk_header ,.service-main-wrapper .desk_header ,.case-study-main-wrapper .desk_header , #all_news_page .desk_header , #single_blog_page .desk_header, .not-found-wrapper .desk_header{
  position: relative;
  background: $black;
}

.about-main-wrapper .header-nav ,.contact-main-wrapper .header-nav , .approach-main-wrapper .header-nav,.project-main-wrapper .header-nav,.team-main-wrapper .header-nav ,.service-main-wrapper .header-nav ,.case-study-main-wrapper .header-nav,#case_study_page .header-nav, #all_news_page .header-nav, #single_blog_page .header-nav, .not-found-wrapper .header-nav{
  position: relative;
  background: $black;
}

// Loading GIF for Fetching Results
#loading_gif{
  position: relative;
  height: 100vh;
  img{
      max-width: 50px;
  }
}

#loading_gif{
  svg.tea {
    --secondary: #37e591;
  }
  svg.tea #teabag {
    transform-origin: top center;
    @include transform(rotate(3deg));
    animation: swing 2s infinite;
  }
  svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
  }
  svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
  }
  @-moz-keyframes swing {
    50% {
      @include transform(rotate(-3deg));
    }
  }
  @-webkit-keyframes swing {
    50% {
      @include transform(rotate(-3deg));
    }
  }
  @-o-keyframes swing {
    50% {
      @include transform(rotate(-3deg));
    }
  }
  @keyframes swing {
    50% {
      @include transform(rotate(-3deg));
    }
  }
  @-moz-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-webkit-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-o-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-moz-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @-webkit-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @-o-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}