// Site Width  
// (You will need these for Pixel Perfect Design)
$desk_width :  1200px;  // PSD Total Width Desktop
$mob_width  : 365px;  // PSD Total Width Mobile
$container_width :  1090px;  // Width in which the content resides  (Always add 30px to actual width depending on container padding)


// Color Pallete
$black   : #060b26;
$white   : #f5f5f5;
$purple  : #A17AFF;
$green   : #2EC469;
$blue    : #71B6F9;
$yellow  : #F9C851;
$pink    : #FB8ACC;
$red     : #FA5B5B;
$background: #F5F6FA;
$bright-white: #ffffff;

$light-purple: rgba(161, 122, 255, 0.2);
$light-blue:rgba(113,182,249,0.2);
$light-green: rgba(46,196,105,0.2);
$light-pink:rgba(251,139,204,0.2);

$very-light-purple: rgba(236,228,255,.3) ;



// Fonts
$font_family : 'Montserrat', sans-serif;

// Define all your font-weights you will be using all over site.
$body_font : 16px;
$placehoder_resp_font:12px;
$medium_font:18px;
$small_font : 14px;
$title_font: 24px;
$banner_font:32px;
$font-light :300;
$font_regular : 400;
$font_medium : 500;
$font_semibold : 600;
